/* -------for nav bar user icon and login button starts--------- */

.dropbtn {
    background-color: whitesmoke;
    color: dimgray;
    padding: 16px;
    font-size: 16px;
    border: none;
    width:52px;
    border-radius:45%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 990;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:18px;
  }
  a:active,a:visited{text-decoration: none;}
  
  .dropdown-content a:hover {background-color: #ddd;text-decoration: none; cursor: pointer;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:white;}
  
  .glyphicon{font-size:22px;}
  
  /* -------for nav bar user icon and login button ends--------- */
  
  
  
  /* ----------FOR NAV BAR CSS starts------------ */
   
  body {
      margin: 0;
      padding: 0;
      /*background-size: cover;*/
      /* background:  url(../assets/SearchBackgroundImage.jpg); */
      /*background-position: center;*/
      background-color: white;
       font-family: sans-serif;
       /* box-shadow: inset 0px 0px 150px black; */
  }
  .SearchPage {
      width: 630px;
      height: 620px;
      background: #ffffff;
      position: absolute;
      top: 50%;
      left: 30%;
      padding:0% 2% 0% 4% ;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
      border-radius: 13px;
  }
   #bothIcon {
      position: relative;
      height: 20px;
      padding: 0px 20px 0px 10px;
      transform: rotateY(180deg);
  }
  .SearchPage input[type="text"] {
      border: none;
      border-bottom: 1px solid blueviolet;
      background: transparent;
      outline: none;
      color: #000;
      font-size: 18px;
  }
  #txtSourceList {
      width: 220px;
      height: 40px;
  }
  #txtDestinationList {
      width: 220px;
      height:40px;
  }
  .btnSearchFlights{
      padding-left:330px;
      padding-top:-81px;
  }
  #btnSearchFlights {
      background: transparent;
      background-color: transparent;
      border: 1px solid blueviolet;
      font-size: 21px;
      font-weight: lighter;
      font-family: Calibri;
      color: blueviolet;
      padding: 10px 15px;
      border-radius: 0px;
  }
  #btnSearchFlights:hover {
      background: blueviolet;
      color: white;
  }
  .navbar-header{
      font-size:50px; 
   }
  nav{
      box-shadow: 0.5px 0.5px 20px dimgray;
      align-content: right;
      align-items: right;
      border-radius: 0%;
      background-color: white;
      height:80px;
      z-index:10;
      overflow: hidden;
      border-bottom-color: white;
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      transition: .5s;
      }
    .imgbox{
      background-image:linear-gradient(
          rgba(255, 0, 0, 0.45), 
          rgba(255, 0, 0, 0.45)
        ); 
    }
    #HomePageBackground {
      max-width: 100%;
      max-height: 89%;
    }
      ul{
      display: inline-block;
      margin-left: 60%;
  }
  
  
  /* -------FOR SIDE NAV-------------- */
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  /* ------------------FOR NAV BAR CSS ENDS------------ */
  
  
   
  option,select,label{
      color:(rgb(34, 3, 48) 48);
      font-size: large;
      font-weight:350;    
  }
  select{
      width:370px;
  }
  .form-group{ 
      width:40%;
      position: relative;
      float: left;
  }
  body{
      background-color: lightblue;
  }
  .mat-mini-fab{
      background-color:blueviolet;
      font-weight: lighter !important;
   }
   label{
       color:blueviolet;
   }
   #sel1,#sel2,#travelClass,#oneway {
     border: none;    
     border-bottom: 1.2px solid blueviolet;
     background: transparent;
     outline: none;
     color: #000;
     font-size: 18px;
     width: 280px; 
     height: 50px;
    }
    #count{
      border: none;    
      border-bottom: 1.2px solid blueviolet;
      background: transparent;
      outline: none;
      color: #000;
      font-size: 18px;
      width: 220px; 
      height: 50px; 
   }
  #boardingDate{
      border: none;    
      border-bottom: 1.2px solid blueviolet;
      background: transparent;
      outline: none;
  }
   #SearchPage {
      box-shadow: 5px 7px 13px dimgray;
      width: 90%;
      overflow-x: hidden;
      height:auto;
      background: white;
      position: absolute; 
      margin-top:-13% ;
      left: 50%; 
      padding:0% 0% 3% 2% ;
      transform: translate(-50%,-50%);
      box-sizing: border-box;
      border-radius: 13px;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
  }
  .break {
      flex-basis: 100%;
      height: 0;
    }
  .boardingDate,.boarding,.landing {
      padding:16px;
      padding-top: 4%;
  }
   .btnSearchFlights{
      padding-left:330px;
      /* padding-top:-81px; */
  }
  #btnSearchFlights {
     background: transparent;
     background-color: transparent;
     border: 1px solid blueviolet;
     font-size: 25px;
     font-weight: 90%;
     font-family: Calibri;
     color: blueviolet;
     padding: 10px 25px;
     border-radius: 0px;
     transition: all .2s ease-in-out;
   }
  .searchFlightsButton{
      padding-left: 0.1%;
      padding-bottom: 0%;
      padding-top: 3%;
  }
  #btnSearchFlights:hover {
      background: blueviolet;
      color: white;
      transform:scale(1.1);
  }   
    #HomePageBackground {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      top: 0px;
  }
  .divDisplayingFlights {
      background-color: white;
      position: relative;
      left: 10%;
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      }
  .divDisplayingFlights:hover{
  background-color: whitesmoke;
  }
  #divCards{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      position: relative; top: 120%;
      width: 90%;
   }
  .card{
      width: 400px;
      height: 400px;
      box-shadow:5px 7px 13px dimgray ;
  }
  #cardAd{
      width: 250px;
      height: 200px;
  }
  .example-card {
      max-width: 300px;
      background-color: whitesmoke;
      padding-bottom: 10%;
    }
    
    /* .example-header-image {
      background-image: url('');
      background-size: cover;
    } */
    .AmristerImage{
      background-image: url('https://www.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Amritsar2.jpg');
      background-size: cover;
    }
    .BangkokImage{
      background-image: url('https://www.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Bangkok.jpg');
      background-size: cover;
    }
    .GoaImage{
      background-image: url('https://www.goindigo.in/content/dam/indigov2/6e-website/destinations/thumbnail/Goa-thumbnail.jpg');
      background-size: cover;
    }


    /* ----------------for nav bar starts-------------- */
 /* ----------------for nav bar starts-------------- */
 

 .btnSearchFlights{
    padding-left:330px;
    padding-top:-81px;
  }
  #btnSearchFlights {
    background: transparent;
    background-color: transparent;
    border: 1px solid blueviolet;
    font-size: 21px;
    font-weight: lighter;
    font-family: Calibri;
    color: blueviolet;
    padding: 10px 15px;
    border-radius: 0px;
  }
  #btnSearchFlights:hover {
    background: blueviolet;
    color: white;
  }
  .navbar-header{
    font-size:50px; 
  }
  nav{
    box-shadow: 0.5px 0.5px 20px dimgray;
    align-content: right;
    align-items: right;
    border-radius: 0%;
    background-color: white;
    height:80px;
     border-bottom-color: white;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    transition: .5s;
    margin-bottom: 50px;
    }
    #navigation{
      margin-bottom: 50px;
  
    }
   
  #HomePageBackground {
    max-width: 100%;
    max-height: 89%;
  }
    ul{
    display: inline-block;
    margin-left: 60%;
  }
   /* ----------------for nav bar ends-------------- */
  
  .divForgetPassword{
  background-color: whitesmoke;
  box-shadow: 0.5px 0.5px 8px dimgray;
  width: 500px;
  padding: 2%;
  border-radius: 2%;
  position: absolute;
  top: 30%;
  left: 25%;
  
  }
  .divUsernamePassword{
      width: 400px;
  }
  
  
  .info, .success, .warning, .error, .validation {
      -webkit-animation: seconds 1.0s forwards;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-delay: 5s;
      animation: seconds 1.0s forwards;
      animation-iteration-count: 1;
      animation-delay: 2s;
      position: relative;
        
    }
    @-webkit-keyframes seconds {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        left: -9999px; 
        position: absolute;   
      }
    }
    @keyframes seconds {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        left: -9999px;
        position: absolute;     
      }
    }