<!-- -----------NAVIGATION BAR STARTS------------ -->
<div id="navigation">
  <nav class="navbar navbar-default navbar-fixed-top" id="nav">
    <div class="container-fluid">
      <div class="navbar-header">

        <!-- -----SIDE NAV--------- -->
        <!-- <div id="mySidenav" style="overflow:hidden;" class="sidenav">
            <button
              style="font-size:30px;cursor:pointer;color:blueviolet; border:2px solid blueviolet; background: transparent;"
              (click)="closeNavbu()" class="closebtn">&times;</button>
             <a routerLink="">Flight details</a>
            <a routerLink="">User Details</a>
            <a routerLink="">Ticket Details</a>
            <a routerLink="">Log out</a>
             <button (click)="goToCancel()">cancel</button>
          </div>
          <button 
            style="font-size:40px;cursor:pointer; border:none; background: transparent;  position: absolute;left: 0px; top: 6px; margin-top:0px;margin-left:0px;"
            (click)="openNavbu()"> 
            <span>&#9776;</span></button> -->

        <button
          style="font-size:40px;cursor:pointer; border:none; background: transparent;  position: absolute;left: 0px; top: 6px; margin-top:0px;margin-left:0px;"
          (click)="goToHomePageWithIcons()">
          <span>&#9776;</span></button>

        <!-- -----SIDE NAV ends--------- -->

        <a class="navbar-brand">
          <img src="../assets/Images/favicon.png" alt="logo"
            style="width:90px; height:90px; position: relative; top: -200%; left: 40%;">
        </a>
        <a class="navbar-brand"
          style="font-size:40px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; position: absolute; color:black;display:inline-block;margin-left: -5%;  margin-top:0%; top:15%">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Breeze
          Airways </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <button style="font-size: 18px;" (click)="logOut()"  type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-log-out"></span>
               &nbsp;LOGOUT
            </button>
          </a>
        </li>
        <li>
          <div style="border-left: 1px solid blueviolet; height: 60px;"></div>
        </li>
        <li>
          <a>
            <button (click)="goToHome()" type="button" class="btn btn-info">
              <span class="glyphicon glyphicon-home"></span>
              &nbsp;&nbsp;HOME
            </button>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- <div style="position: fixed;right: 5%;top: 2%; z-index: 299; display: flex;flex-direction: row;">
  <div
    [hidden]="token===null" class="dropdown">
    <button class="dropbtn"><span class="glyphicon glyphicon-user"></span> </button>
    <label style="font-size:22px;">
      &nbsp;&nbsp;Hello {{username}}!</label>
    <div class="dropdown-content">
      <a>Change Password</a>
      <a>Account settings</a>
      <a (click)="logOut()">Log Out</a>
    </div>
  </div>
</div> -->

<!-- -----------NAVIGATION BAR ENDS------------ -->
<br><br><br><br>
<div style="position: absolute; top: 16%; left: 1%; opacity: 0.7; overflow-x: hidden;">
  <img src="../../assets/Images/BackButtonSmallPng.png" title="go back" (click)="onClickBack()" style="width: 55%" height="55%">
  </div>
  
  <div style="position: absolute;  left: 40%; opacity: 0.7; overflow-x: hidden;">
    <br><br>
      <h1 style="color: purple;">CANCEL BOOKING
    </h1>
    </div>  
<div class="wrapper-table">
  <br><br><br><br><br>
    <div class="table">
      <div class="row header">
        <div class="cell">
          Pnr No
        </div>
        <div class="cell">
          Booked Date
        </div>
        <div class="cell">
          Journey Date
        </div>
        <div class="cell">
          Source
        </div>
        <div class="cell">
          Destination
        </div>
        <div class="cell">
          Flight Id
        </div>
        <div class="cell">
          Status
        </div>
        <div class="cell">
            Cancel
          </div>
      </div>
      <div class="row" *ngFor="let book of cancelticket">
        <div class="cell" data-title="Asset">
          {{book.Pnr}}
        </div>
        <div class="cell" data-title="Country">
          {{book.TicketbookedOn}}     
        </div>
        <div class="cell" data-title="Country">
          {{book.Bookeddate}}     
        </div>
        <div class="cell" data-title="Gas/Oil">
          {{book.Sid}}
        </div>
        <div class="cell" data-title="Operator">
          {{book.Desid}}
        </div>
        <div class="cell" data-title="Gas/Oil">
          BA{{book.Flightid}}
        </div>
        <div class="cell" data-title="Operator">
          {{book.Status}}
        </div>
        <div class="cell" data-title="Operator">
            <button (click)="getbookid(book.Bookid)" style="background-color: transparent; border-radius: 10%;">
                Cancel Ticket
            </button>
          </div>
      </div>
    
    </div>
  </div>
  <div *ngIf="result===true" style="color: red;text-align: center;">
    <b>
      <h3>
        You Don't have any previous Bookings!!! so Kindly BOOK NOW!!!! 
      </h3>
    </b>
  </div>
  