<h2>Agreement between you and Emirates</h2>
Thank you for visiting emirates.com (the "Website"). Please read these terms and conditions carefully before you start to use the Website. By accessing and using this Website, you indicate that you accept (unconditionally and irrevocably) these terms and conditions (the 'Agreement'). If you do not agree to these terms and conditions, please refrain from using our Website and exit immediately.

The Website is owned and operated by Emirates, whose principal office is at Emirates Group Headquarters Building, PO Box 686, Dubai, United Arab Emirates. Emirates is a Dubai corporation established by Decree No.2 of 1985 (as amended) of the Government of Dubai.

You represent and warrant you possess the legal right and ability to enter into this Agreement and to use this Website in accordance with all terms and conditions herein.

You promise to us you are old enough to enter legally binding contracts through this Website and you know you will be responsible for all payments due to us for bookings made by you or another person using your login information.

Please also make sure that you have read and accept our Privacy Policy.

 Modification of terms
We may change these terms and conditions at any time without advance notice. Changed terms will become effective once posted on the Website, and will not have any retrospective effect on existing contractual arrangements made through this Website. Your continued use of this Website after any change means you have accepted the changed terms and conditions.
<h2> Entire agreement</h2>
These terms and conditions and any other legal notices, policies and guidelines of Emirates linked to these terms and conditions constitute the entire agreement between you and Emirates relating to your use of this Website and supersede any prior understandings or agreements (whether oral or written), claims, representations, and understandings of the parties regarding such subject matter and the terms and conditions may not be amended or modified except by making such amendments or modifications available on this Website.

Back to top
DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY
General
Your access to and use of software and other materials on, or through, this Website is solely at your own risk. We make no representation, warranty or covenant whatsoever about the reliability, stability or virus free nature of such software.

<h3>DISCLAIMER OF WARRANTY
</h3>
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,WE DISCLAIM ALL REPRESENTATIONS, WARRANTIES AND COVENANTS RELATING TO THE INFORMATION, SOFTWARE, PRODUCTS AND SERVICES CONTAINED IN THIS WEBSITE. ALL SUCH INFORMATION, SOFTWARE, PRODUCTS AND SERVICES ARE PROVIDED "AS IS" WITHOUT REPRESENTATION, WARRANTY OR COVENANT OF ANY KIND, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
 

 Indemnity
As a condition of use of this Website, you agree to indemnify us from and against any and all liabilities, expenses (including legal fees) and damages arising out of claims resulting from your use of this Website, including without limitation any claims alleging facts that if true would constitute a breach by you of these terms and conditions.

 Links to third-parties' websites
This Website may contain links and pointers to Internet sites maintained by third parties. We do not operate or control in any respect any information, products or services on such third-party sites. Third party links and pointers are included solely for your convenience, and do not constitute any endorsement by us. You assume sole responsibility for use of third party links and pointers.

 Limitations on use
You agree to use this Website solely to determine the availability of goods and services and make legitimate reservations or transact business with us. You agree to use the Website only for personal, non-commercial use.

You agree to use the Website's services to make only legitimate reservations or purchases. You agree not to make any false reservation or any reservation in anticipation of demand. We may cancel, without notice, all confirmations associated with multiple reservations to one or more destination on or about the same date.

You agree to all of our terms and conditions of purchase, including, but not limited to, full and timely payment of all amounts due and compliance with all rules concerning availability of fares, products, or services. All fees, assessments, charges, taxes and duties arising out of use of the Website are your sole responsibility.

You agree to not abuse the Website. "Abuse" includes, without limitation, using the Website to:

Defame, harass, stalk, threaten, abuse or otherwise violate others’ rights as defined by applicable law.
Harm or interfere with the operation of others’ computers and software in any respect, including, without limitation, by uploading, downloading or transmitting corrupt files or computer viruses.
Violate applicable intellectual property, publicity or privacy rights, including, without limitation, by uploading, downloading or transmitting materials or software.
Omit or misrepresent the origin of, or rights in, any file you download or upload, including, without limitation, by omitting proprietary language, author identifications, or notices of patent, copyright or trade-mark.
Transmit, post, or otherwise disclose trade secrets, or other confidential or protected proprietary material or information.
Download or upload files that are unlawful to distribute through the Website.
Interfere with or disrupt the Website or servers or networks connected to the Website, including attempting to interfere with the access of any other user, host or network, including without limitation, overloading, initiating, propagating, participating, directing or attempting any "denial of service" attacks, "spamming", "crashing", "flooding" or "mail-bombing" the Website.
Direct bots, spiders, crawlers, avatars, intelligent agents or any other automated process at Emirates’ computer systems or otherwise, create unreasonable load upon any of Emirates’ computer hardware, network, storage, input/output or electronic control devices or infrastructure.
Transmit any information or software obtained through the Website, or copy, create, display, distribute, license, perform, publish, recreate, reproduce, sell, or transfer works deriving from the Website.
Falsely use a password or personal identification number during logging into the Website, or misrepresent one’s identity or authority to act on behalf of another.
Violate this Agreement in any other manner.
We have taken reasonable steps to ensure the information provided by us on this Website is accurate at the time you view it. However, we cannot and have not checked the accuracy of all information provided by outside sources for example by the providers of other information, or of other parties linked to or from the Website.

Commentary and other materials posted on our Website are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our Website, or by anyone who may be informed or act upon any of its contents.

We aim to ensure that availability of the Website will be uninterrupted and that transmissions will be error-free. However, due to the nature of the Internet, this cannot be guaranteed and we reserve the right to withdraw or amend the service we provide on the Website without notice. Also, your access to the Website may occasionally be suspended or restricted to allow for repairs, maintenance, or the introduction of new facilities or services. We will attempt to limit the frequency and duration of any such suspension or restriction. We will not be liable if for any reason our Website is unavailable at any time or period.


When making a booking you must ensure that your name (and the name of any person(s) for whom you are making a booking) matches exactly the name as it appears in your (or the person(s) for whom you are making the booking’s) passport.

If you require any further information on passport or visa requirements, please contact one of our local offices or the embassy of the country to which you will be traveling.

A failure to travel with the correct documentation could result in the passenger being refused travel, entry to the country of their destination or stop-over, deportation or incarceration and in such circumstance(s) you will be solely responsible for any cost, loss or damage which you or we (or our agents or servants) incur. 

 Airport taxes
Some airports will levy an airport departure tax, which is payable by passengers at the airport locally. Information on these charges is not given through our quoted fares and is your sole responsibility.

 Health/Insurance requirements
Immunization may be recommended or required for your destination or stopover points - please check this with your doctor. We recommend the purchase of adequate travel insurance for all overseas travel.

You should note that any information and advice contained in the Health and travel section is intended as a general guide only and is not specific to you or your particular circumstances. All content within the Health and travel section is provided for general information only, and should not be treated as a substitute for the medical advice of your own doctor or any other health care professional. We are not liable for any diagnosis made by you based on the content in our Health and travel section and exclude our liability to the fullest extent permitted by law. You should always contact your own doctor if you are concerned about your health, flying and/or countries of destination/stop-over.

 Currency conversion
Currency rates are based on several publicly available sources. The accuracy of such rates is not verified, and actual rates may vary. Currency quotes are not updated every day. We believe in the accuracy of the information supplied by this application, but we do not warrant or guarantee such accuracy. If using this information for any financial purpose, we advise you to consult a qualified professional to verify the accuracy of the currency rates. We do not authorize the use of this information for any other purposes, except for personal use, and prohibit to the maximum extent allowable the resale, redistribution, and use of this information for commercial purposes.

 Conditions of Carriage
The carriage of passengers and their baggage by air will be subject to the Conditions of Carriage of the carrier concerned. With respect to our flights, please read our General Conditions of Carriage for passengers and baggage.

